$font-size-lg: 10px;
@import "~taro-ui/dist/style/components/list.scss";
$font-size-base: 10px;
@import "~taro-ui/dist/style/components/list.scss";

.content{
  font-size: 30px;
}
.icon{
  margin-top: 25px;
}
.iconD{
  margin-top: 25px;
  margin-left: 30px;
}
