@font-face {
  font-family: 'iconfont'; /* project id 1518739 */
  src: url('https://at.alicdn.com/t/font_1518739_tpaik339u0p.eot');
  src: url('https://at.alicdn.com/t/font_1518739_tpaik339u0p.eot?#iefix')
      format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1518739_tpaik339u0p.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1518739_tpaik339u0p.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1518739_tpaik339u0p.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1518739_tpaik339u0p.svg#iconfont') format('svg');
}

/* 根据第三方字体图标库编写 */
/* 举例：fa 就是 prefixClass 的值，下面的的图标 css class 命名都要用 fa- 开头  */
.kf {
  display: inline-block;
  /* 以下的 font 与上面 @font-face 的 font-family 要一致*/
  font: normal normal normal 14px/1 iconfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.kf-wechat:before {
  content: '\e694';
}
.kf-down:before {
  content: '\e621';
}
.kf-up:before {
  content: '\e600';
}
.kf-down-down:before {
  content: '\e601';
}
.kf-success:before {
  content: '\e60d';
}
.kf-error:before {
  content: '\e62b';
}
.kf-pencil:before {
  content: '\e607';
}
.kf-anonymous:before {
  content: '\e60f';
}
.kf-icon:before {
  content: '\e615';
}
.kf-swap:before {
  content: '\e652';
}
.kf-calc:before {
  content: '\e60a';
}
